<div class="container">
  <h2>{{ header }}</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="">Name</label>
      <input
        type="text"
        class="form-control"
        [ngModel]="game.name"
        name="name"
        required
        minlength="4"
        #name="ngModel"
      />
      <span
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="help-block text-danger"
      >
        <div *ngIf="name.errors?.['required']">Name is required.</div>
        <div *ngIf="name.errors?.['minlength']">
          Name must be at least 4 characters long.
        </div>
      </span>
    </div>
    <div class="form-group">
      <label for="">Release date</label>
      <input
        type="date"
        class="form-control"
        [ngModel]="game.releaseDate | date: 'yyyy-MM-dd'"
        name="releaseDate"
        required
        #releaseDate="ngModel"
      />
      <span
        *ngIf="
          releaseDate.invalid && (releaseDate.dirty || releaseDate.touched)
        "
        class="help-block text-danger"
      >
        <div *ngIf="releaseDate.errors?.['required']">
          Release date is required.
        </div>
      </span>
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea
        rows="4"
        cols="50"
        type="text"
        class="form-control"
        [ngModel]="game.description"
        name="description"
        required
        minlength="20"
        #description="ngModel"
      ></textarea>
      <span
        *ngIf="
          description.invalid && (description.dirty || description.touched)
        "
        class="help-block text-danger"
      >
        <div *ngIf="description.errors?.['required']">
          Description is required.
        </div>
        <div *ngIf="description.errors?.['minlength']">
          Description must be atleast 20 characters long.
        </div>
      </span>
    </div>
    <div class="form-group">
      <label for="">Developer</label>
      <select
        [(ngModel)]="game.developer._id"
        name="developer"
        class="form-control"
        #developer="ngModel"
        required
      >
        <option [ngValue]="undefined">Select a developer</option>
        <option *ngFor="let developer of developers" [value]="developer._id">
          {{ developer.name }}
        </option>
      </select>
      <span
        *ngIf="developer.invalid && (developer.dirty || developer.touched)"
        class="help-block text-danger"
      >
        <div *ngIf="developer.errors?.['required']">Developer is required.</div>
      </span>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label for="">Tag</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="inputString"
            [ngModelOptions]="{ standalone: true }"
          />
          <p>
            <button
              type="button"
              class="btn btn-info btn-sm mt-3"
              (click)="addTag()"
              [disabled]="!inputString"
            >
              Add tag
            </button>
          </p>
          <span class="badge badge-secondary m-1" *ngFor="let tag of tagList"
            >{{ tag }}
            <a type="button" (click)="deleteTag(tag)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="red"
                class="bi bi-x-circle-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
                />
              </svg>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col">
        <button
          class="btn btn-primary btn-sm float-left"
          [disabled]="!f.valid"
          type="submit"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
