<div class="main">
  <div class="jumbotron text-center">
    <h1 class="jumbotron-header">Games</h1>
    <p class="lead text-muted">Find your favorite games here!</p>
  </div>

  <div class="row">
    <div class="col-sm-4" *ngFor="let game of games">
      <div class="card" style="width: 18rem; height: 27rem">
        <img
          class="card-img-top"
          src="../../../../assets/images/default-image.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text"><b>tags</b>: {{ game.tags.join(", ") }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
