<div class="main">
  <div class="jumbotron text-center">
    <h1 class="jumbotron-header">Developers</h1>
    <p class="lead text-muted">Find your favorite developers here!</p>
  </div>
  <a routerLink="add" class="btn btn-primary">Add Developer</a>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
    <div class="col" *ngFor="let developer of developers">
      <a [routerLink]="[developer.id]">
        <div class="card developer" style="width: 18rem">
          <img
            class="card-img-top list-img"
            src="../../../../assets/images/developer.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ developer.name }}</h5>
            <p *ngIf="developer.founders.length != 0" class="card-text">
              <b>founders</b>: {{ developer.founders.join(", ") }}
            </p>
            <p *ngIf="developer.founders.length === 0" class="card-text">
              <b>founders</b>: None available
            </p>
            <div class="list-inline">
              <a
                class="btn btn-danger btn-sm"
                (click)="
                  $event.preventDefault();
                  $event.stopPropagation();
                  onDelete(developer.id!)
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                  />
                </svg>
              </a>
              <a
                class="btn btn-primary btn-sm"
                [routerLink]="['edit', developer.id]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pen-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
