<div class="main">
  <div class="jumbotron text-center">
    <h1 class="jumbotron-header">About us</h1>
  </div>
  <div class="border text-center">
    <h2>Description</h2>
    <p>
      This website was inspired bij Avans University of Applied Science. It lets
      you add your favorite games and seek information about them!
    </p>
    <img
      src="./assets/images/avans-image.jpg"
      alt="Avans-image"
      class="avans"
    />
    <br /><br />
    <img src="./assets/images/avatar-image.png" alt="Avatar" class="avatar" />
    <br /><br />
    <p>Good afternoon. I am very pleased with you visiting my website!</p>
    <h3>Justin</h3>
    <p>Developer</p>
  </div>
</div>
