<div class="main">
  <div class="jumbotron text-center">
    <h1 class="jumbotron-header">About us</h1>
  </div>
  <div class="row">
    <div class="col border text-center">
      <h2>Description</h2>
      <p>
        This website was inspired bij Avans University of Applied Science. It
        lets you add your favorite games and seek information about them!
      </p>
      <img
        src="../../../../assets/images/avans-image.jpg"
        alt="Avans-image"
        class="avans"
      />
      <br />
      <img
        src="../../../../assets/images/avatar-image.png"
        alt="Avatar"
        class="avatar"
      />
      <br /><br />
      <p>Good afternoon. I am very pleased with you visiting my website!</p>
      <h3>Justin</h3>
      <p>Developer</p>
    </div>
    <div class="col border text-center">
      <h2>Data model</h2>
      <p>The website is build based on the following data model</p>
      <img
        src="../../../../assets/images/ClientSideERD.jpeg"
        alt="ERD"
        class="erd"
      />
      <br /><br />
      <h4>Explanation</h4>
      <p>
        A user can have zero or more games, reviews and developers. A game can
        have zero or more reviews and a review always belongs to one game. A
        game always has one developer and a developer has one or more games. A
        game has zero or more tags associated to it.
      </p>
    </div>
  </div>
</div>
