<div class="container">
  <nav
    class="
      navbar navbar-expand-sm navbar-toggleable-sm navbar-light
      border-bottom
      box-shadow
      mb-3
    "
  >
    <ul class="navbar-nav flex-grow-1">
      <li class="nav-item">
        <a class="nav-link" routerLink="component-a">Component A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="component-b">Component B</a>
      </li>
      <li>
        <a class="nav-link" routerLink="users">User List</a>
      </li>
      <li>
        <a class="nav-link" routerLink="columns">User Columns</a>
      </li>
      <li>
        <a class="nav-link" routerLink="games">Games</a>
      </li>
    </ul>
  </nav>
</div>
