<div class="jumbotron text-center">
  <h1 class="jumbotron-header">{{ game.name }}</h1>
</div>
<div class="row row-cols-1 row-cols-sm-2">
  <div class="col">
    <img
      class="card-img-top"
      src="../../../../assets/images/games.png"
      alt="Card image cap"
    />
  </div>
  <div class="col border">
    <br />
    <dl class="row">
      <dt class="col-sm-4">Tags</dt>
      <dd class="col-sm-8" *ngIf="game.tags.length != 0">
        <span class="badge badge-secondary m-1" *ngFor="let tag of game.tags">{{
          tag
        }}</span>
      </dd>
      <dd class="col-sm-8" *ngIf="game.tags.length === 0">None available</dd>
      <dt class="col-sm-4">Description</dt>
      <dd class="col-sm-8">
        {{ game.description }}
      </dd>
      <dt class="col-sm-4">Release date</dt>
      <dd class="col-sm-8">
        {{ game.releaseDate | date: "dd/MM/yyyy" }}
      </dd>
      <dt class="col-sm-4">Developer</dt>
      <dd class="col-sm-8">
        {{ game.developer.name }}
      </dd>
    </dl>
  </div>
</div>
<br />
<div class="border">
  <h3>Reviews</h3>
  <a routerLink="review" class="btn btn-primary text-white">Add Review</a>
  <div class="card review" *ngFor="let review of game.reviews">
    <div class="card-body">
      <h5 class="card-title">{{ review.oneliner }}</h5>
      <p class="card-text">Rating: {{ review.rating }}</p>
      <p class="card-text">{{ review.experience }}</p>
    </div>
  </div>
</div>
