/* You can add global styles to this file, and also import other style files */
.btn {
  margin-left: 10px;
}

.main {
  margin: 10px;
}

.card {
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: #92bcea;
  transition: background-color 0.5s;
}

.card:hover {
  background-color: #76ace5;
}

footer {
  height: 50px;
  bottom: 0px;
}

.col a {
  text-decoration: none;
  color: black;
}

.card-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jumbotron {
  background-color: #afb3f7;
}

img {
  width: 100%;
}

.avatar {
  vertical-align: middle;
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.avans {
  vertical-align: middle;
  width: 30%;
  height: 30%;
}
